@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');


body {
  background-color: teal;
  text-align: center;
 font-family: 'Lobster', cursive;
  font-family: 'Roboto', sans-serif;
}

