.darkbluebg{

	margin: 2px;
	font-size: 10pt;
	background-color: #191970;
    border-width: 1px;
	padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}


.darkb{
	background-color: #191970;
}

.containerpad{
	 padding: 20px;
}
.padone{
	padding: 10px ;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	width: 200pt;
}

.button1 {font-size: 10px;}
.button2 {font-size: 12px;}
.button3 {font-size: 16px;}

.welcome{
	color: white;
	font-size: 20pt;

}
.normal{
	color: black;
	font-size: 10pt;

}
.banner{
		padding: 0;
}
.msc{
	color: white;
	font-size: 33pt;

}

.image{
	width: 100%;
	padding: 0;
}

.sector3{
	color: #808080;
	font-size: 25pt;
	font-weight: bold;

}

.underline{
		border-bottom: 2px solid #4D00B2;
}

.greyunderline{
		
		border-bottom: 1px solid #808080;
}

.formheader{
	
	font-size: 15pt;
	font-weight: bold;
	
}

.greybox{
		border: 1px ridge #808080;
}


a{
	color: #999966;
	font-size: 14pt;
	
}